<% lots_of_products = Product.includes(:user).all %>
<ul>
  <% lots_of_products.each do |product| %>
    <li>
      Product Name: "<%= product.name %>" costs $<%= product.price %>
      Sold by <%= product.user.name %>
    </li>
  <% end %>
</ul>
<!-- 
#7 - does this mean that I am selecting the first user named Matt?
#26 - why does the .xml not work on /users
Why is my /products file broken -->